<%= render 'shared/errors', obj:@blog %>
<div class="row">
    <div class="col-xs-12">
        <%= form_for(@blog, :html => {class: "form-horizontal", role: "form"}) do |f| %>
             <div class="form-group row">
                <div class="control-label col-sm-2">
                    <%= f.label :image %>
                </div>
                <div class="col-sm-8" >
                    <%= f.file_field :image, class: "form-control" %>
                </div>
            </div><br/>

            <div class="form-group row">
                <div class="control-label col-sm-2">
                    <%= f.label :title %>
                </div>
                <div class="col-sm-8" >
                    <%= f.text_field :title, class: "form-control", placeholder:"Title of blog", autofocus: true %>
                </div>
            </div><br/>
            <div class="form-group row">
                <div class="control-label col-sm-2">
                    <%= f.label :description %>
                </div>
                <div class="col-sm-8">
                    <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Description of Blog"  %>
                </div>
                <div>
                    <%= f.number_field :user_id, id: :blog_user_id, value: current_user.id, type: :hidden %>
                </div>
            </div><br/>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10", align="right", id="blogs-submit-form-btn" >
                    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
                        <% cb.label(class: "checkbox-inline input_checkbox"){cb.check_box(class: "checkbox") + cb.text} %>
                    <% end %>
                </div>
            </div>
           
                <%# <%= f.fields_for :search_opmtimizations do |sff| %>
                    <%# <%= render "search_opmtimization_fields", f: sff%>
                <%# <% end %>
                
                <%= link_to_add_fields "Add SEO Info", f, :search_opmtimizations %>
            
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10", align="right", id="blogs-submit-form-btn" >
                    <%= f.submit class: "btn btn-primary btn-lg" %>
                </div>
            </div>
        <% end %>
        <div class="col-xs-4 col-xs-offset-4">
            <%= link_to "Back to Blogs", blogs_path %>
        </div>
    </div>
</div>


<%# <script>
    $('form').on('click', 'add_fields', function(event){
        console.log('clicked')
        // var regexp, time;
        // time = new Date().getTime();
        // regexp = new RegExp($(this).data('id'), 'g');
        // $(this).before($(this).data('fields').replace(regexp, time));
        // return event.preventDefault();
    });
</script> %>