<h2 align="center">Title: <%= @blog.title %></h2>
<div class="well col-xs-8 col-xs-offset-2">
<div class="position-relative">
    <% if @blog.image.present? %>
        <%= image_tag(@blog.image, :class => "blog_image") %>
    <% end %>
    <div class="middle">
        <div class="buttons">
            <%= button_to "Delete Image", purge_image_blog_path(@blog), method: :delete %> |
    
            <%= link_to "Update Image", update_image_blog_path(@blog) %>
        </div>
    </div>
    
</div>
    <h4 class="center description"><strong>Description:</strong></h4>
    <hr>
        <%= simple_format(@blog.description) %><br/><br/>
        <% @blog.search_opmtimizations.each do |so| %>
        <br/><strong> Search Optimization </strong><br/>
            Category: &nbsp&nbsp<%= so.keyword %><br/>
            City Located: &nbsp&nbsp<%= so.city %>
        <% end %>
        <% if @blog.categories.any? %>
            <p> Categories: <%= render @blog.categories %></p>
        <% end %>
        <h2><%= @blog.comments.count%> comments</h2>
            <%= render @blog.comments %>
            <h3> Add a Comment </h3>
                <%= render 'comments/form' %>
        <% if user_signed_in? %>
        <div class="blog-actions">
            <%= link_to "Edit this blog", edit_blog_path(@blog), class: "btn btn-xs btn-primary" %>
            <%= link_to "Delete this blog", blog_path(@blog), method: :delete,
            data: { confirm: "Are you sure you want to delete the blog?"},
            class: "btn btn-xs btn-danger" %>
        <% end %>
            <%= link_to "View all blogs", blogs_path, class: "btn btn-xs btn-success" %>
        </div>
</div>