<p style="color: green"><%= notice %></p>

<%= render @search_opmtimization %>

<div>
  <%= link_to "Edit this search opmtimization", edit_search_opmtimization_path(@search_opmtimization) %> |
  <%= link_to "Back to search opmtimizations", search_opmtimizations_path %>

  <%= button_to "Destroy this search opmtimization", @search_opmtimization, method: :delete %>
</div>
